header{
    display: flex;
}
#botao-voltar{
    border-radius: 5px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 5%;
    margin-top: 5%;
    font-family: sans-serif;
    padding: 0.5%;
}
#botao-voltar:hover{
    background-color: rgb(145, 145, 145);
}
#h-s{
    margin-top: 5.7%;
    margin-left: 5.5%;
    font-family: sans-serif;
    font-weight: lighter;
}
#caixa-agenda{
    border-color: transparent;
    margin-left: 5%;
    width: 90%;
    border-radius: 5px;
    background-color: rgb(248, 247, 247);
}
#nome-agenda{
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    padding-top: 2%;
}
#info{
    display: flex;
}
#n-diciplinas{
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 12%;
    text-align: center;
}
#aula-semanal{
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 12%;
    text-align: center;
}
#labs{
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 12%;
    text-align: center;
}
#horario{
    font-family: sans-serif;
    font-weight: lighter;
    margin-left: 12%;
    text-align: center;
    padding-bottom: 2%;
}