#Primeira-frase{
    font-family: sans-serif;
    font-size: 150%;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom:0%;
}
#Segunda_frase{
    font-family: sans-serif;
    font-size: 120%;
    margin-left: 5%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(95, 95, 95);
}
#DIV-1{
    display: flex;
}
#DIV-2{
    display: flex;
}
#Botão-notificação{
    margin-top: 7%;
    margin-left: 50%;
    border-radius: 5px;
    border: transparent;
    background-color: transparent;
}
#Botão-notificação:hover{
    background-color: rgb(157, 156, 156);
}
#Sair{
    margin-bottom: 6%;
    margin-top: -2%;
    margin-left: 60%;
    width: 5%;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(242, 242, 242);
}
#Terceira_frase{
    font-family: sans-serif;
    font-size: 100%;
    margin-left: 10%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    font-weight: lighter;
}
#Caixa-progresso{
    border: 1px solid rgb(1, 1, 1);
    background-color: rgb(247, 247, 247);
    margin-left: 10%;
    width: 80%;
    border-radius:5px;
}
#Quarta_frase{
    font-family: sans-serif;
    font-size: 120%;
    margin-left: 30%;
    padding-top: 1%;
    padding-bottom:0%;
    color:rgb(7, 7, 7);
}
#Quinta_frase{
    font-family: sans-serif;
    font-size: 90%;
    margin-left: 30%;
    padding-top: 0%;
    padding-bottom:0%;
    color:rgb(80, 80, 80);
}
#Sexta_frase{
    font-family: sans-serif;
    font-size: 100%;
    margin-left: 30%;
    padding-top: 1%;
    padding-bottom:2%;
    color:rgb(7, 7, 7);
    background-color: rgb(209, 208, 208);
    width: 35%;
    border-radius: 5px;
    padding-left: 1%;
}
#Mensagem{
    font-family: sans-serif;
    font-size: 90%;
    margin-left: 30%;
    padding-top: 1%;
    padding-bottom:1%;
    padding-left: 1%;
    color:rgb(7, 7, 7);
    background-color: rgb(225, 225, 225);
    width: 60%;
    border-radius: 5px;
}
#Infos{
    display: flex;
}
#Próxima-aula{
    border-radius: 5px;
    background-color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    margin-left: 10%;
    width: 22%;
    margin-bottom: 2%;
    margin-top: 2%;
}#Prox-aula{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:0%;
    color:rgb(7, 7, 7);
    text-align: center;
}
#Nome-da-matéria{
    font-family: sans-serif;
    font-size: 130%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
}
#Horário-local{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:0%;
    color:rgb(28, 8, 110);
    text-align: center;
}
#Tarefas{
    border-radius: 5px;
    background-color: rgb(255, 252, 250);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    margin-left: 6.8%;
    width: 22%;
    margin-bottom: 2%;
    margin-top: 2%; 
}
#Tarefas-a-fazer{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    text-align: center;
}
#Nome-da-tarefa{
    font-family: sans-serif;
    font-size: 130%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
}
#Data-de-entrega{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(235, 114, 15);
    text-align: center;
}
#Notificações{
    border-radius: 5px;
    background-color: rgb(255, 243, 243);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    margin-left: 6.8%;
    width: 22%;
    margin-bottom: 2%;
    margin-top: 2%; 
}
#Notify{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    text-align: center;
}
#n_notificações{
    font-family: sans-serif;
    font-size: 130%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(7, 7, 7);
    font-weight: bold;
    text-align: center;
}
#Detalhes-da-notificação{
    font-family: sans-serif;
    font-size: 110%;
    padding-top: 0%;
    padding-bottom:3%;
    color:rgb(181, 15, 15);
    text-align: center;
}
#Setima-frase{
    font-family: sans-serif;
    font-size: 90%;
    margin-left: 3%;
    padding-bottom: 1%;
    color:rgb(95, 95, 95);
}
#Input-busca{
    margin-left: 3%;
    width: 94%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding: 1%;
}
#Oitava-frase{
    font-family: sans-serif;
    font-size: 90%;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    color:rgb(95, 95, 95);
}
#Ações{
    display: flex;
    margin-left: 3%;
}
#Calendário{
    border-radius: 5px;
    background-color: rgb(242, 255, 250);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    width: 13%;
    margin-right: 2%;
}
#Horário{
    border-radius: 5px;
    background-color: rgb(250, 242, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    width: 13%;
    margin-right: 2%;
}
#worksheet{
    border-radius: 5px;
    background-color: rgb(255, 252, 250);
    border: 1px solid rgb(0, 0, 0);
    width: 13%;
    padding:2%;
    margin-right: 2%;
}
#Anotações{
    border-radius: 5px;
    background-color: rgb(255, 250, 242);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    width: 13%;
    margin-right: 2%;
}
#Materiais{
    border-radius: 5px;
    background-color: rgb(242, 250, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    width: 13%;
    margin-right: 2%;
}
#Configurações{
    border-radius: 5px;
    background-color: rgb(255, 242, 250);
    border: 1px solid rgb(0, 0, 0);
    padding: 0%;
    width: 13%;
}
#Dica{
    font-family: sans-serif;
    font-size: 75%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color:rgb(95, 95, 95);
}
footer{
    margin-top: 2%;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 5%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: sans-serif;
    font-size: 75%;
    color:rgb(95, 95, 95);
}
#Home{
    padding: 2%;
    border-radius: 5px;
    margin-right: 1%
}
#Chat{
    padding: 2%;
    border-radius: 5px;
    margin-right: 1%
}
#Horários{
    padding: 2%;
    border-radius: 5px;
    margin-right: 1%
}
#Comunicados{
    padding: 2%;
    border-radius: 5px;
    margin-right: 1%
}
#Notas{
    padding: 2%;
    border-radius: 5px;
    margin-right: 1%
}